@use "common";

// ===== COMMON =====
#top-contacts {
    display: none;
}

#primary-menu :is(.page-item-14, .page-item-15) {
    display: none;
}

#grid-top {
    background: #2a2b2e;
}

#grid-top .dashicons {
    color: #ddd;
}

#grid-top .my-cart::before {
    color: #ddd;
}

.main-navigation ul li a {
    color: #ddd;
}

.main-navigation ul li a:hover {
    color: #fff;
}

$homePageID: "page-id-37";

:root {
    --footer-height: 130px;
    --section-height: max(500px, 100vh);
    --info-panel-background: #00000077;
}

body.#{$homePageID} {
    font-family: "Cutive Mono", sans-serif;
    background: #000;
}

.#{$homePageID} .s-shadow {
    background: radial-gradient(70% 50% at center, #0001 20%, #000 100%);
    top: 0;
}

.#{$homePageID} .site-title span.word {
    font-family: "Press Start 2P", sans-serif;
    font-size: clamp(1rem, calc(1rem + 2vw), 2.5rem);
}

.#{$homePageID} .site-description span.word {
    font-family: "Cutive Mono", sans-serif;
    font-weight: bold;
    font-size: clamp(1rem, calc(1rem + 4vw), 5rem);
}

.#{$homePageID} .entry-title {
    display: none;
}

.#{$homePageID} .entry-content {
    background: #000000;
}

.#{$homePageID} #content {
    max-width: initial;
    padding: 0;
}

@media screen and (max-width: 800px) {
    .#{$homePageID} #content {
        padding: 0 !important;
    }
}

.#{$homePageID} #primary {
    padding: 0;
}

.#{$homePageID} article {
    padding: 0;
    border: none;
}

.#{$homePageID} .game {
    height: var(--section-height);
}

.#{$homePageID} .game img {
    mask: radial-gradient(70% 50% at center, rgba(1, 1, 1, 1) 20%, rgba(1, 1, 1, 0) 100%);
    -webkit-mask: radial-gradient(70% 50% at center, rgba(1, 1, 1, 1) 20%, rgba(1, 1, 1, 0) 100%);
}

.#{$homePageID} .game > div,
.#{$homePageID} .game > div > div {
    height: 100%;
}

.#{$homePageID} .game > div > div {
    background-color: #000;
}

/* === INFO PANEL === */

/* change the alignment of the game-info-panel */
.#{$homePageID} .game .wp-block-cover__inner-container {
    display: flex;
}

.#{$homePageID} .game.left .wp-block-cover__inner-container {
    justify-content: flex-start;
}

.#{$homePageID} .game.right .wp-block-cover__inner-container {
    justify-content: flex-end;
}

.#{$homePageID} .game-info-panel {
    color: #fff;
    max-width: 380px;
    z-index: 100;
}

.#{$homePageID} .game-info-panel__title {
    border: 1px solid #fff;
    background: var(--info-panel-background);
}

.#{$homePageID} .game-info-panel__title p {
    font-size: 2.5rem;
}

.#{$homePageID} .game-info-panel__text {
    border: 1px solid #fff;
    border-top: none;
    padding: 6px;
    background: var(--info-panel-background);
}

.#{$homePageID} .game-info-panel__buttons > div {
    width: 100%;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-top: 6px;
}

.#{$homePageID} .game-info-panel__button,
.#{$homePageID} .game-info-panel__button > a {
    width: 100%;
}

.#{$homePageID} .game-info-panel__button > a {
    border-radius: 8px;
    background: var(--info-panel-background);
    border: 1px solid #fff;
}

// ===== GAME SELECTION =====
.#{$homePageID} .game-selection {
    padding-top: 50px;
    max-width: 1000px;
    margin: 0 auto;
}

.#{$homePageID} .game-selection .wc-block-grid__product {
    padding: 1em;
    border: 1px solid #111;

    .wc-block-grid__product-title {
        color: #fff;
    }

    .woocommerce-Price-amount {
        color: #959595;
    }

    .add_to_cart_button {
        background: #181818;
        border: 1px solid #fff;
        border-radius: 8px;
        transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
    }

    .add_to_cart_button:hover {
        background: #ececec;
        border: 1px solid #fff;
        color: rgb(19, 19, 19);
        border-radius: 8px;
    }

    .added_to_cart {
        color: #e1e1e1;
    }

    .wc-block-grid__product-rating .star-rating span::before {
        color: #cccccc !important;
    }

    @media (min-width: 481px) and (max-width: 600px) {
        margin: 0;
    }
}

// ===== JOIN US SECTION =====
.#{$homePageID} .join-us-heading {
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 3em;
    color: #ddd;
    padding: 2em 0 1em 0;
}

.#{$homePageID} .join-us-form {
    padding: 0 min(5vw, 20px);
    max-width: 800px;
    margin: 0 auto;

    .wpforms-field-row,
    .wpforms-field-medium {
        max-width: 100% !important;
    }

    .wpforms-submit-container {
        display: flex !important;
        justify-content: flex-end !important;
    }

    label {
        color: #eeeeee !important;
    }

    input,
    select,
    textarea {
        background: transparent !important;
        color: white !important;
        border: none !important;
        border-bottom: 1px solid white !important;
    }

    input::placeholder,
    textarea::placeholder {
        opacity: 1 !important; /*Firefox*/
    }

    input:focus,
    textarea:focus {
        outline: none !important;
    }

    input {
        border-bottom: 1px solid white !important;
    }

    select > option {
        background: black !important;
    }

    button[type="submit"] {
        border: 1px solid white !important;
        background-color: #222222 !important;
        color: #fff !important;
        cursor: pointer !important;
        transition: background-color 0.4s ease, color 0.4s ease !important;
        border-radius: 5px !important;
        width: 100% !important;
        max-width: 200px !important;
    }

    button[type="submit"]:hover {
        color: black !important;
        background: white !important;
    }

    textarea {
        border: 1px solid white !important;
        border-radius: 5px !important;
    }
}

// ===== MY ACCOUNT PAGE =====
$accountPageID: "page-id-16";

body.#{$accountPageID} {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: max(500px, 100vh);
    background: #000;
    color: #fff;
    font-family: "Cutive Mono", sans-serif;
}

.#{$accountPageID} {
    h1 {
        font-family: "Press Start 2P", sans-serif;
        color: #eee;
    }

    article {
        background: #222 !important;
        border-radius: 10px;
    }

    a {
        color: #eee;
    }

    a:hover {
        color: rgb(125, 134, 255);
    }
}

// ===== SHOP PAGE ======
body.woocommerce-shop {
    background: #000;
    color: #fff;
    font-family: "Cutive Mono", sans-serif;
}

.woocommerce-shop {
    h1 {
        font-family: "Press Start 2P", sans-serif;
        color: #eee;
    }

    article {
        background: #111 !important;
        border-radius: 10px;
    }

    a {
        color: #eee;
    }

    a:hover {
        color: rgb(125, 134, 255);
    }

    .woocommerce-Price-amount {
        color: #d0d0d0;
    }

    .product {
        border-radius: 10px;
        overflow: hidden;
    }

    .star-rating span {
        color: #cacaca !important;
    }

    .add_to_cart_button {
        font-size: 1.1em !important;
        color: #fff !important;
        font-family: "Cutive Mono", sans-serif !important;
    }
}
