@import url("https://fonts.googleapis.com/css?family=Cutive%20Mono");
@import url("https://fonts.googleapis.com/css?family=Press%20Start%202P");
#top-contacts {
  display: none;
}

#primary-menu :is(.page-item-14, .page-item-15) {
  display: none;
}

#grid-top {
  background: #2a2b2e;
}

#grid-top .dashicons {
  color: #ddd;
}

#grid-top .my-cart::before {
  color: #ddd;
}

.main-navigation ul li a {
  color: #ddd;
}

.main-navigation ul li a:hover {
  color: #fff;
}

:root {
  --footer-height: 130px;
  --section-height: max(500px, 100vh);
  --info-panel-background: #00000077;
}

body.page-id-37 {
  font-family: "Cutive Mono", sans-serif;
  background: #000;
}

.page-id-37 .s-shadow {
  background: radial-gradient(70% 50% at center, #0001 20%, #000 100%);
  top: 0;
}

.page-id-37 .site-title span.word {
  font-family: "Press Start 2P", sans-serif;
  font-size: clamp(1rem, 1rem + 2vw, 2.5rem);
}

.page-id-37 .site-description span.word {
  font-family: "Cutive Mono", sans-serif;
  font-weight: bold;
  font-size: clamp(1rem, 1rem + 4vw, 5rem);
}

.page-id-37 .entry-title {
  display: none;
}

.page-id-37 .entry-content {
  background: #000000;
}

.page-id-37 #content {
  max-width: initial;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .page-id-37 #content {
    padding: 0 !important;
  }
}
.page-id-37 #primary {
  padding: 0;
}

.page-id-37 article {
  padding: 0;
  border: none;
}

.page-id-37 .game {
  height: var(--section-height);
}

.page-id-37 .game img {
  mask: radial-gradient(70% 50% at center, #010101 20%, rgba(1, 1, 1, 0) 100%);
  -webkit-mask: radial-gradient(70% 50% at center, #010101 20%, rgba(1, 1, 1, 0) 100%);
}

.page-id-37 .game > div,
.page-id-37 .game > div > div {
  height: 100%;
}

.page-id-37 .game > div > div {
  background-color: #000;
}

/* === INFO PANEL === */
/* change the alignment of the game-info-panel */
.page-id-37 .game .wp-block-cover__inner-container {
  display: flex;
}

.page-id-37 .game.left .wp-block-cover__inner-container {
  justify-content: flex-start;
}

.page-id-37 .game.right .wp-block-cover__inner-container {
  justify-content: flex-end;
}

.page-id-37 .game-info-panel {
  color: #fff;
  max-width: 380px;
  z-index: 100;
}

.page-id-37 .game-info-panel__title {
  border: 1px solid #fff;
  background: var(--info-panel-background);
}

.page-id-37 .game-info-panel__title p {
  font-size: 2.5rem;
}

.page-id-37 .game-info-panel__text {
  border: 1px solid #fff;
  border-top: none;
  padding: 6px;
  background: var(--info-panel-background);
}

.page-id-37 .game-info-panel__buttons > div {
  width: 100%;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-top: 6px;
}

.page-id-37 .game-info-panel__button,
.page-id-37 .game-info-panel__button > a {
  width: 100%;
}

.page-id-37 .game-info-panel__button > a {
  border-radius: 8px;
  background: var(--info-panel-background);
  border: 1px solid #fff;
}

.page-id-37 .game-selection {
  padding-top: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.page-id-37 .game-selection .wc-block-grid__product {
  padding: 1em;
  border: 1px solid #111;
}
.page-id-37 .game-selection .wc-block-grid__product .wc-block-grid__product-title {
  color: #fff;
}
.page-id-37 .game-selection .wc-block-grid__product .woocommerce-Price-amount {
  color: #959595;
}
.page-id-37 .game-selection .wc-block-grid__product .add_to_cart_button {
  background: #181818;
  border: 1px solid #fff;
  border-radius: 8px;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}
.page-id-37 .game-selection .wc-block-grid__product .add_to_cart_button:hover {
  background: #ececec;
  border: 1px solid #fff;
  color: #131313;
  border-radius: 8px;
}
.page-id-37 .game-selection .wc-block-grid__product .added_to_cart {
  color: #e1e1e1;
}
.page-id-37 .game-selection .wc-block-grid__product .wc-block-grid__product-rating .star-rating span::before {
  color: #cccccc !important;
}
@media (min-width: 481px) and (max-width: 600px) {
  .page-id-37 .game-selection .wc-block-grid__product {
    margin: 0;
  }
}

.page-id-37 .join-us-heading {
  text-align: center;
  font-family: "Press Start 2P";
  font-size: 3em;
  color: #ddd;
  padding: 2em 0 1em 0;
}

.page-id-37 .join-us-form {
  padding: 0 min(5vw, 20px);
  max-width: 800px;
  margin: 0 auto;
}
.page-id-37 .join-us-form .wpforms-field-row,
.page-id-37 .join-us-form .wpforms-field-medium {
  max-width: 100% !important;
}
.page-id-37 .join-us-form .wpforms-submit-container {
  display: flex !important;
  justify-content: flex-end !important;
}
.page-id-37 .join-us-form label {
  color: #eeeeee !important;
}
.page-id-37 .join-us-form input,
.page-id-37 .join-us-form select,
.page-id-37 .join-us-form textarea {
  background: transparent !important;
  color: white !important;
  border: none !important;
  border-bottom: 1px solid white !important;
}
.page-id-37 .join-us-form input::-moz-placeholder, .page-id-37 .join-us-form textarea::-moz-placeholder {
  opacity: 1 !important;
  /*Firefox*/
}
.page-id-37 .join-us-form input:-ms-input-placeholder, .page-id-37 .join-us-form textarea:-ms-input-placeholder {
  opacity: 1 !important;
  /*Firefox*/
}
.page-id-37 .join-us-form input::placeholder,
.page-id-37 .join-us-form textarea::placeholder {
  opacity: 1 !important;
  /*Firefox*/
}
.page-id-37 .join-us-form input:focus,
.page-id-37 .join-us-form textarea:focus {
  outline: none !important;
}
.page-id-37 .join-us-form input {
  border-bottom: 1px solid white !important;
}
.page-id-37 .join-us-form select > option {
  background: black !important;
}
.page-id-37 .join-us-form button[type=submit] {
  border: 1px solid white !important;
  background-color: #222222 !important;
  color: #fff !important;
  cursor: pointer !important;
  transition: background-color 0.4s ease, color 0.4s ease !important;
  border-radius: 5px !important;
  width: 100% !important;
  max-width: 200px !important;
}
.page-id-37 .join-us-form button[type=submit]:hover {
  color: black !important;
  background: white !important;
}
.page-id-37 .join-us-form textarea {
  border: 1px solid white !important;
  border-radius: 5px !important;
}

body.page-id-16 {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: max(500px, 100vh);
  background: #000;
  color: #fff;
  font-family: "Cutive Mono", sans-serif;
}

.page-id-16 h1 {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
}
.page-id-16 article {
  background: #222 !important;
  border-radius: 10px;
}
.page-id-16 a {
  color: #eee;
}
.page-id-16 a:hover {
  color: #7d86ff;
}

body.woocommerce-shop {
  background: #000;
  color: #fff;
  font-family: "Cutive Mono", sans-serif;
}

.woocommerce-shop h1 {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
}
.woocommerce-shop article {
  background: #111 !important;
  border-radius: 10px;
}
.woocommerce-shop a {
  color: #eee;
}
.woocommerce-shop a:hover {
  color: #7d86ff;
}
.woocommerce-shop .woocommerce-Price-amount {
  color: #d0d0d0;
}
.woocommerce-shop .product {
  border-radius: 10px;
  overflow: hidden;
}
.woocommerce-shop .star-rating span {
  color: #cacaca !important;
}
.woocommerce-shop .add_to_cart_button {
  font-size: 1.1em !important;
  color: #fff !important;
  font-family: "Cutive Mono", sans-serif !important;
}/*# sourceMappingURL=martin.css.map */