@use 'common';

// ===== GAME LISTING PAGE =====
body.product-template-default {
    background: #151517;
}

.product-template-default {

    .product {
        background-color: #151517;
        color: white;
    }

    h1.product_title {
        font-family: 'Press Start 2P', sans-serif;
        color: white;
        font-size: 30px;
    }

    .product_meta {
        color: #FFFFFF;
    }

    article {
        background: #151517 !important;
        border: none;
    }

    a {
        color: #FFFFFF;
        background-color: #151517;
        font-family: "Cutive Mono", sans-serif;
        font-size: 24px;
    }

    .tabs.wc-tabs {
        color: #FFFFFF;
        background-color: #151517;
        font-family: "Cutive Mono", sans-serif;
        font-size: 24px;
    }

    .additional_information_tab {
        color: #FFFFFF;
        background-color: #151517;
        font-family: "Cutive Mono", sans-serif;
        font-size: 24px;
    }

    .posted_in {
        font-family: "Cutive Mono", sans-serif;
        font-size: 24px;
    }

    bdi {
        color: white;
        font-family: "Cutive Mono", sans-serif;
        font-size: 24px;
    }
    
    h2 {
        color: #FFFFFF;
        font-family: "Cutive Mono", sans-serif;
        font-size: 26px;
    }

    .woocommerce-Tabs-panel.woocommerce-Tabs-panel--description.panel.entry-content.wc-tab {
        font-family: "Cutive Mono", sans-serif;
        color: #FFFFFF;
        font-size: 12px;
    }

    .description_tab.active {
        background-color: #151517;
        color: #FFFFFF ;
    }

    .content-area {
        background-color: #151517;
    }

    .single_add_to_cart_button.button.alt {
        font-family: "Cutive Mono", sans-serif;
        font-size: 18px;
        background-color: #151517;
    }

    .woocommerce-product-details__short-description {
        font-family: "Cutive Mono", sans-serif;
        font-size: 16px;
    }

    .main.site-main {
        background-color: #2a2b2e !important;
      }

    .reviews_tab {
        background-color: #151517 !important;
        color: #FFFFFF;
    }

    .additional_information_tab {
        background-color: #151517 !important;
        color: #FFFFFF;
    }

    .description_tab.active {
        background-color: #151517 !important;
        color: #FFFFFF;
    }

    .description_tab {
        background-color: #151517 !important;
    }

    a.powered {
        background-color: #000000 !important;
    }

    div.site-info {
        background-color: #000000 !important;
    }


}