@import url("https://fonts.googleapis.com/css?family=Cutive%20Mono");
@import url("https://fonts.googleapis.com/css?family=Press%20Start%202P");
body.product-template-default {
  background: #151517;
}

.product-template-default .product {
  background-color: #151517;
  color: white;
}
.product-template-default h1.product_title {
  font-family: "Press Start 2P", sans-serif;
  color: white;
  font-size: 30px;
}
.product-template-default .product_meta {
  color: #FFFFFF;
}
.product-template-default article {
  background: #151517 !important;
  border: none;
}
.product-template-default a {
  color: #FFFFFF;
  background-color: #151517;
  font-family: "Cutive Mono", sans-serif;
  font-size: 24px;
}
.product-template-default .tabs.wc-tabs {
  color: #FFFFFF;
  background-color: #151517;
  font-family: "Cutive Mono", sans-serif;
  font-size: 24px;
}
.product-template-default .additional_information_tab {
  color: #FFFFFF;
  background-color: #151517;
  font-family: "Cutive Mono", sans-serif;
  font-size: 24px;
}
.product-template-default .posted_in {
  font-family: "Cutive Mono", sans-serif;
  font-size: 24px;
}
.product-template-default bdi {
  color: white;
  font-family: "Cutive Mono", sans-serif;
  font-size: 24px;
}
.product-template-default h2 {
  color: #FFFFFF;
  font-family: "Cutive Mono", sans-serif;
  font-size: 26px;
}
.product-template-default .woocommerce-Tabs-panel.woocommerce-Tabs-panel--description.panel.entry-content.wc-tab {
  font-family: "Cutive Mono", sans-serif;
  color: #FFFFFF;
  font-size: 12px;
}
.product-template-default .description_tab.active {
  background-color: #151517;
  color: #FFFFFF;
}
.product-template-default .content-area {
  background-color: #151517;
}
.product-template-default .single_add_to_cart_button.button.alt {
  font-family: "Cutive Mono", sans-serif;
  font-size: 18px;
  background-color: #151517;
}
.product-template-default .woocommerce-product-details__short-description {
  font-family: "Cutive Mono", sans-serif;
  font-size: 16px;
}
.product-template-default .main.site-main {
  background-color: #2a2b2e !important;
}
.product-template-default .reviews_tab {
  background-color: #151517 !important;
  color: #FFFFFF;
}
.product-template-default .additional_information_tab {
  background-color: #151517 !important;
  color: #FFFFFF;
}
.product-template-default .description_tab.active {
  background-color: #151517 !important;
  color: #FFFFFF;
}
.product-template-default .description_tab {
  background-color: #151517 !important;
}
.product-template-default a.powered {
  background-color: #000000 !important;
}
.product-template-default div.site-info {
  background-color: #000000 !important;
}/*# sourceMappingURL=masoud.css.map */